In [261]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [262]:
df = pd.read_csv('cardetails.csv')
df.drop(columns = ['seller_type'] , inplace = True)
df

,name,year,selling_price,km_driven,fuel,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Manual,Second Owner
...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Manual,First Owner

In [263]:
df.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
transmission     0
owner            0
dtype: int64

In [264]:
df.duplicated().sum()

763

In [265]:
df.shape

(4340, 7)

In [266]:
df.drop_duplicates(inplace = True)

In [267]:
df.shape

(3577, 7)

In [268]:
for col in df.columns:
    print("Unique values of : " + col )
    print(df[col].unique())
    print("  ")
    print("  ")
    print("  ")

Unique values of : name
['Maruti 800 AC' 'Maruti Wagon R LXI Minor' 'Hyundai Verna 1.6 SX' ...
 'Mahindra Verito 1.5 D6 BSIII'
 'Toyota Innova 2.5 VX (Diesel) 8 Seater BS IV'
 'Hyundai i20 Magna 1.4 CRDi']



Unique values of : year
[2007 2012 2017 2014 2016 2015 2018 2019 2013 2011 2010 2009 2006 1996
 2005 2008 2004 1998 2003 2002 2020 2000 1999 2001 1995 1997 1992]



Unique values of : selling_price
[  60000  135000  600000  250000  450000  140000  550000  240000  850000
  365000  260000 1650000  585000 1195000  390000 1964999 1425000  975000
 1190000  930000  525000 1735000 1375000  900000 1300000 1400000  229999
 1550000 1250000  625000 1050000  560000  290000  275000  411000  150000
  500000  100000  725000  401000  750000  310000  665000  465000  160000
  675000  300000   70000  151000  280000  350000  570000  125000  130000
  925000  200000  248000   80000  650000  495000  371000 1025000 8150000
  325000 1470000 2800000  210000 1150000 4500000 2750000 1975000  175000
 2500000  628000  399000  315000  780000  434000  690000  555000  120000
  165000   95000  800000  840000  490000  400000 1000000  530000   40000
   75000  540000  700000  430000   65000  195000  170000  225000   99000
  620000 2550000  320000  810000  282000   72000  640000  380000 1500000
  434999  190000 2900000  425000  265000  890000  685000  940000  590000
  385000 2000000  235000   52000   89999  180000  285000 1075000   90000
  220000  110000  880000  115999  360000  680000  860000  270000  395000
  624000  345000  106000 1800000  575000  370000   50000   55000  755000
  720000 1100000  159000  335000  185000  470000  145000  595000 1600000
  105000  409999  215000  475000  330000 1044999 1350000  420000  760000
   43000 1850000 1125000  133000  352000  520000  509999  556000  484999
  565000  295000 2050000 1475000 4400000  670000  770000  775000 1725000
 2150000 3800000 1580000 4950000  535000  239000 2600000  114999  200999
  710000  969999  155000  138000  311000   58000  183000  825000  299000
  639000  415000 1199000  699000  269000  249000 1549000  254999  211000
  599000 4000000 1200000   98000  790000 1700000   68000  875000 1330000
  919999  611000  711000  851000  610000  744000  480000  950000   85000
  615000  227000  222000  735000  271000 1490000  455000  421000 2700000
 4700000 1900000 1770000  660000  716000  147000 1140000 3050000  375000
 1950000  340000 3100000  245000  715000 1750000 3500000  835000 2490000
 1015000   91200 2400000  635000  302000  204999  341000  819999  351000
  630000 1085000  580000   78000 3200000  695000  355000  619000   81000
  486000  802000 2300000  287000  250999   45000 1485000 1825000 3256000
  451000  149000  163000  419000  990000  346000  509000   69000 1380000
  256000   97000  199000 2595000  730000  368000  545000  641000  784000
  324000 2100000  305000  221000  828999 1119000  746000 1030000 1334000
  811999 1331000  852000  830000  213000   35000  869999  178000  515000
  312000  111000  774000  148000   57000  284000  349000  458000  381000
  751000  782000  321000   92800  291000   73000  655000  263000  217000
  539000  142000  910000  740000  164000  999000   56000 3899000  440000
  238000 1295000  541000  894999  844999  288000 1225000 1010000   30000
  396000  281000   93000  459999   88000   22000   79000  198000  182000
  861999  836000  696000  596000  612000   20000   61000  511000 1230000
  426000   62000 1450000   71000 2200000 1249000 1240000 1068000 1189000
  363000  821000  815000  738000  765000  516000  134000  347000 2650000
 2675000  359000  980000  707000  471000  377000  763000  701000  277000
  936999   82000  799000 1451000 1575000   78692  479000   48000  121000
  785000  173000 4800000  587000  123000 1290000  193000  721000 1040000
 2349000 1165000   42000 1680000  231999  841000 1280000 1090000  449000
  724000  126000  795000 2575000 1035000 1260000 8900000 1860000 4200000
 5500000  430999 1151000  927999   51111  212000  428000  219000  749000
  233000  614000   37500  865000]



Unique values of : km_driven
[ 70000  50000 100000  46000 141000 125000  25000  60000  78000  35000
  24000   5000  33000  28000  59000   4500 175900  14500  15000  33800
 130400  80000  10000 119000  75800  40000  74000  64000 120000  79000
  18500  10200  29000  90000  73300  92000  66764 350000 230000  31000
  39000 166000 110000  54000  63000  76000  11958  20000   9000   6500
  58000  62200  34000  53000  49000  63500   9800  13000  21000  29173
  48000  30000  87000  16000  79350  81000   3600  14272  49213  57000
   3240 114000  53772 140000 175000  36000 155500  23000  22155  78380
 150000  80362  55000   1136  43000   2650 115962  65000  56000 213000
 139000 160000 163000  32000  52000  11240  66000  26500  72000  44000
 130000 195000 155000   4000  41000  10832  14681  51000 200000  19600
  46730  21170 167223 141440 212814  88635 149674   8000  68000  38000
  75000  98000  81925  82080  97000  52047  62009  33100 220000  45000
 180000  22000  80577 127500  40903  22288  61690  64484  75976  85962
  57035  72104 164000 124439  77000   1250  17152  24005 149000  19000
 109000  61000  27633  12586  38083  55328  81632 155201  93283 217871
  90165 101504  86017  85036  91086 160254 125531  82000  84000 560000
  14365  61083  66363  11700   7104  45974  55340  61585  39415  29654
  64672  54634  66521  23974   1000  86000  52600  19890  11918  10510
  47162  49824  58500  56580  46507  11451 172000  66508  29900   3000
  85000   7900  17500 206500  88600 186000  11000 138000  27974  18000
   1400 124000  42000  28205  32670  30093  56228  59319  39503  35299
  51687  76259  44049  45087  41125  42215  54206  52547  59110  54565
  47564  45143  61624 132000  10980  20629  69782  63654  59385  70378
  55425  78413  40890  34823  55545  56541  43700  27483  56207   1440
  91195  63657  97248  89000  12000  12997  26430  24600  28481  41988
  30375   7658  34400  28942  53600  53652 106000 205000  79500 197000
   9161  19077 128000  21302  10500 107000  55300  74300  48781  87620
  40219  11473   8352   9745   9748  20694  31080  37605  55850  58850
  23839  45454  46957 190000   1500  47000 116000  26350  71042 167870
 133564  23038  43608  11212  49217  28838 135000  19571  29600  13500
  48600 127643 102354  62237  21394  32686   1001  53261  14000  39895
  73000  17000  18591  26766 300000  27620 223000 161327   6000  71000
 144000  37000  26000  27000  13250 101000   8500  90246  60400  70950
   1100  31491 107143  46412 107500  43826  55838 112880  30300  80659
  81324 127884  66755 123084 806599  95851 234000 170000  96000  19014
  23262  35925  40771  30500  55800  66569  81358  82695  68293 190621
  64700  88470 126000  74183      1 192000  83411  13270  88000   7000
  13770 102000 143000 115000 136906 133000  28689  80322  61658 185000
  30600 235000  67000  74500 118700 223660   2000  73756  16400  41395
  71014 181000  89550 149500  83000  44800 156000 146000  99000  37516
  25880 136000   2020  94000  88500  52536   1950 118400   6480  32077
  19107  18469  28217  72787  31063  79641  58692  54784  64156   9500
  81366 244000 312000 145000   7300  72539    101  52328  91505  20500
 154000  41723  68745  27289  24662  28245  27005  39227  31367  35008
 100005  45264  39093  45241   2769  43128  22255  59213   1010   1111
  48965   5166  76290  45766  78771  79357  76736  92645 101849 155836
  63230   1758   1452  35122  92621  92198 152000  78322  54309  34600
  38217  77073  16584  81257   3917  69069  59059  39039  33033  55168
  41041  67067  66066  82082  70070  63063   9528 135200  50300 151624
  74820 129000  66778  63400 157000  38500 103921  14825  43377 102307
 245244  68500   5007  49600  43100  10171  41123  20118  52517  99117
   3700  43500 137250   5400  11200  93000  62000   5800 267000 250000
  28635  32114  95149  68458 105546 104000 132343  26134  52895  42324
  60236  10300 142000  28643   7600  47253   4432  68523  80251  34500
  42743  93900  55766 113600 138925 121764 105429  23122  44500  13599
   5200  12700  95000  45839  74510  87293 156040  93415 101159  68519
  55130  65239  58182  91245 102989 108000 178000  75118   4637  42655
  69000 117000 105000 182000  24585  13900  17563 173000 151000 117780
  81595   9700 221000  28740  48500 148620 270000  41090 296823  89255
 168000   5550   1700  45217  44440  91365  90010  31800  59100  31200
  22700  50900   2417  65500 140300  10211 260000  32933  54551  57112
  41025  53122  64111  78892  74113  84775  20778  64441  43192  44416
  79991  62601  89600  60800  69111  20969  20194  34982  44588  57904
  59258  60826   1300  31707 115992 109052  90658  25552  40700  11174
  72500  76600  97700  37500  23800  44077 210000   9422 240000  17100
 224642 222435 159000 101100   1200 134444 238000 165000  63700  74800
  60516  76731  63840  76400  31489 295000 158000 400000  19495  62668
  85710  63356 129627   4400  14987  25061  42494  44875  89741 347089
 222252  55250  12500 162000  22038   2500  89126 134000  42500 131365
  48980  98900  13800  99700  49654  45457  39221  48220  11114  60208
  98600  85441  64541  16267  71500  12999  14700  92686  49359 108731
  29976  30646  23600  71318  78098  18054  38406  54350  32260  58231
  59858  73350  88473  96987  77350  61187  68350  81150 280000 105700
  37091  38900   9400  14100  37555  56600  67580  48238  38365  23670
  49834  57353  68308  63240  64916  37161 118000  50852  53500  51500
  79800   6590  49957  43235  50699 140730 256000 218000  66782 112198]



Unique values of : fuel
['Petrol' 'Diesel' 'CNG' 'LPG' 'Electric']



Unique values of : transmission
['Manual' 'Automatic']



Unique values of : owner
['First Owner' 'Second Owner' 'Fourth & Above Owner' 'Third Owner'
 'Test Drive Car']

In [269]:
def get_brand_name(car_name):
    car_name = car_name.split(' ')[0]
    return car_name.strip(' ')

In [270]:
get_brand_name('Hyundai Verna 1.6 SX')

'Hyundai'

In [271]:
df['name'] = df['name'].apply(get_brand_name)

In [272]:
df['name'].unique()

array(['Maruti', 'Hyundai', 'Datsun', 'Honda', 'Tata', 'Chevrolet',
       'Toyota', 'Jaguar', 'Mercedes-Benz', 'Audi', 'Skoda', 'Jeep',
       'BMW', 'Mahindra', 'Ford', 'Nissan', 'Renault', 'Fiat',
       'Volkswagen', 'Volvo', 'Mitsubishi', 'Land', 'Daewoo', 'MG',
       'Force', 'Isuzu', 'OpelCorsa', 'Ambassador', 'Kia'], dtype=object)

In [273]:
df['name'].replace(['Maruti', 'Hyundai', 'Datsun', 'Honda', 'Tata', 'Chevrolet',
       'Toyota', 'Jaguar', 'Mercedes-Benz', 'Audi', 'Skoda', 'Jeep',
       'BMW', 'Mahindra', 'Ford', 'Nissan', 'Renault', 'Fiat',
       'Volkswagen', 'Volvo', 'Mitsubishi', 'Land', 'Daewoo', 'MG',
       'Force', 'Isuzu', 'OpelCorsa', 'Ambassador', 'Kia'] , [1 , 2 , 3 , 4 , 5 , 6 , 7, 8 , 9 , 10 , 11 , 12 , 13 , 14 , 15 , 16 , 17 , 18 , 19 , 20 , 21 , 22 , 23 , 24 , 25 ,26 ,27 ,28 ,29], inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_3860\3686512988.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['name'].replace(['Maruti', 'Hyundai', 'Datsun', 'Honda', 'Tata', 'Chevrolet',
C:\Users\HP\AppData\Local\Temp\ipykernel_3860\3686512988.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['name'].replace(['Maruti', 'Hyundai', 'Datsun', 'Honda', 'Tata', 'Chevrolet',

In [274]:
df['fuel'].unique()

array(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'], dtype=object)

In [275]:
df['fuel'].replace(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'] , [1 , 2 , 3 , 4 , 5] , inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_3860\690464316.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['fuel'].replace(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'] , [1 , 2 , 3 , 4 , 5] , inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_3860\690464316.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['fuel'].replace(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'] , [1 , 2 , 3 , 4 , 5] , inplace = True)

In [276]:
df['transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [277]:
df['transmission'].replace(['Manual', 'Automatic'] , [1 , 2] , inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_3860\3834140718.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['transmission'].replace(['Manual', 'Automatic'] , [1 , 2] , inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_3860\3834140718.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['transmission'].replace(['Manual', 'Automatic'] , [1 , 2] , inplace = True)

In [278]:
df['owner'].unique()

array(['First Owner', 'Second Owner', 'Fourth & Above Owner',
       'Third Owner', 'Test Drive Car'], dtype=object)

In [279]:
df['owner'].replace(['First Owner', 'Second Owner', 'Fourth & Above Owner','Third Owner', 'Test Drive Car'] , [1 , 2 , 3 , 4 , 5] , inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_3860\3897727819.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['owner'].replace(['First Owner', 'Second Owner', 'Fourth & Above Owner','Third Owner', 'Test Drive Car'] , [1 , 2 , 3 , 4 , 5] , inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_3860\3897727819.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['owner'].replace(['First Owner', 'Second Owner', 'Fourth & Above Owner','Third Owner', 'Test Drive Car'] , [1 , 2 , 3 , 4 , 5] , inplace = True)

In [280]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3577 entries, 0 to 4339
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           3577 non-null   int64
 1   year           3577 non-null   int64
 2   selling_price  3577 non-null   int64
 3   km_driven      3577 non-null   int64
 4   fuel           3577 non-null   int64
 5   transmission   3577 non-null   int64
 6   owner          3577 non-null   int64
dtypes: int64(7)
memory usage: 223.6 KB

In [281]:
df

      name  year  selling_price  km_driven  fuel  transmission  owner
0        1  2007          60000      70000     1             1      1
1        1  2007         135000      50000     1             1      1
2        2  2012         600000     100000     2             1      1
3        3  2017         250000      46000     1             1      1
4        4  2014         450000     141000     2             1      2
...    ...   ...            ...        ...   ...           ...    ...
4335     2  2014         409999      80000     2             1      2
4336     2  2014         409999      80000     2             1      2
4337     1  2009         110000      83000     1             1      2
4338     2  2016         865000      90000     2             1      1
4339    17  2016         225000      40000     1             1      1

[3577 rows x 7 columns]

In [282]:
x = df.drop(columns = ['selling_price'])
y = df['selling_price']

In [283]:
x

      name  year  km_driven  fuel  transmission  owner
0        1  2007      70000     1             1      1
1        1  2007      50000     1             1      1
2        2  2012     100000     2             1      1
3        3  2017      46000     1             1      1
4        4  2014     141000     2             1      2
...    ...   ...        ...   ...           ...    ...
4335     2  2014      80000     2             1      2
4336     2  2014      80000     2             1      2
4337     1  2009      83000     1             1      2
4338     2  2016      90000     2             1      1
4339    17  2016      40000     1             1      1

[3577 rows x 6 columns]

In [284]:
y

0        60000
1       135000
2       600000
3       250000
4       450000
         ...
4335    409999
4336    409999
4337    110000
4338    865000
4339    225000
Name: selling_price, Length: 3577, dtype: int64

In [285]:
x_train , x_test , y_train , y_test = train_test_split(x , y , test_size = 0.2 , random_state = 2)

In [286]:
x_train

      name  year  km_driven  fuel  transmission  owner
3075     1  2018      30000     2             2      2
2213     4  2016      43377     2             1      1
3436    17  2012      70000     2             1      2
2657     5  2019       3000     1             1      1
2818    14  2015      55000     2             1      2
...    ...   ...        ...   ...           ...    ...
2783     1  2001      70000     1             1      1
1779    15  2020       1010     1             1      5
3024     1  2020       5000     1             1      1
3060     1  2011      70000     1             1      2
3851    10  2017      36000     2             2      1

[2861 rows x 6 columns]

In [287]:
x_test

      name  year  km_driven  fuel  transmission  owner
1809    17  2012      80000     2             2      2
184      2  2009     110000     1             1      2
1243     1  2009     806599     1             1      1
2082     2  2011      55168     1             1      2
2093     2  2015      50000     1             2      1
...    ...   ...        ...   ...           ...    ...
748     14  2013      63654     2             1      1
4052     2  2016      85000     2             1      1
487     14  2007     120000     2             1      1
1856    18  2014      50000     2             1      1
1673    14  2018      30000     2             1      2

[716 rows x 6 columns]

In [288]:
y_train

3075     800000
2213     910000
3436     370000
2657     425000
2818     150000
         ...
2783      62000
1779     811999
3024     347000
3060     220000
3851    2575000
Name: selling_price, Length: 2861, dtype: int64

In [289]:
y_test

1809     750000
184      280000
1243     250000
2082     370000
2093     500000
         ...
748      900000
4052    1151000
487      225000
1856     260000
1673     850000
Name: selling_price, Length: 716, dtype: int64

In [290]:
regressor = LinearRegression()
regressor.fit(x_train , y_train)

LinearRegression()

In [291]:
predict = regressor.predict(x_test)
predict

array([1299117.40198113,   98232.54641624, -443455.43975362,
        214401.4783376 , 1156780.07176389,  803666.99986936,
        791488.20753901,  551990.87565403,  448085.88751738,
        576201.89796445,  306736.14875573,  431228.28705664,
         19910.64145857,  548238.25036603, 1454449.66423465,
        515423.86649753,  239035.13070972,  718608.79070592,
        668127.44033906, 1428511.56612869,  568155.05261081,
        258272.7782407 ,  318748.07317862,  616969.09565923,
        222256.44807641,  808202.01788379,  335536.35878231,
       -133451.74288905,  346445.8430822 ,  510154.18815626,
        149028.63327903,  123741.06564689,  517407.79514503,
        -25711.05399562,  330597.49673946,  669290.02492833,
        550475.82753599,  153709.45802328,  994048.502147  ,
        127404.46520647, -124587.63045672,  505238.89356285,
        448507.31723395,  399468.01681411,  462961.81593832,
        419063.7838994 ,  575136.29403764,  766530.65333882,
         90679.66211182,  454734.89947183,  507095.20463532,
        540449.16340308,  511440.1653716 ,  236194.53816405,
        266105.30761783,  493638.26811452, 1533628.13792519,
        424459.92106338,  386915.00440577,  403732.84669492,
        334862.32662027,  200878.97475654,  394261.41291007,
        496060.05566961,  455509.34538718,  285639.56821914,
        -10846.11196594,   58512.64281724,  452623.55461933,
        274427.51101698,  404474.09955248, -273287.15469573,
        561805.02218267,  631722.99333306,  478568.1812184 ,
        447777.40692228,  265202.20455308,   70195.19702134,
        398564.91374937,  473794.63536219, 1172495.05403332,
        414952.35380067,  466773.56525558, 1288761.16926034,
        559819.34199603, 1065668.63359159, 1143970.42604429,
        322275.2933403 ,  572239.81137876,  386277.80843991,
        366433.35463989,  359983.33035518,  299940.08651665,
        574264.10721715,  404130.8769227 ,  588791.92372797,
        652883.09013826,  424074.67392442,  418564.58890067,
        515959.31706765, 1128243.13040178,  355285.29813483,
        718492.29715014,  434593.65701115,  468288.61337361,
        480812.95518613, -119924.77034812,  626570.81781068,
        624405.99023648, 1168168.95809145,  340891.46519253,
        235580.02052391,  474697.73842695,  515959.31706765,
        473779.47928499,  258692.66574647,   45031.33944367,
        441662.97365095,  322275.2933403 ,  360001.12459803,
        240857.39827265, 1484986.11671552,  380729.64627554,
         80345.45706184,  473555.46962415,  140238.36363195,
        505439.33577427, 1224836.31724341,  435477.71812251,
        140275.19982816,   12870.52939856,  -26360.00563794,
        656609.00346945,  454392.74739364,  166094.16176139,
        230648.68749568,  663463.41326268,  581265.78078441,
        520966.2373008 ,   95954.63766652,  938010.63955341,
        648500.29499909,  315563.42499186,  349128.65365332,
        361415.4385002 , -104183.46661454,  543196.54973795,
        466787.7231261 ,  332388.54679176,  413662.56305403,
        733084.39739953,  207682.49366537,  198192.77055085,
        326635.41015378,  572943.57738525,  757806.36344284,
        175948.96478368,  613863.57780643,  405940.7194245 ,
        134963.38807724,  538045.83717656,  723227.93625854,
        344443.76587391,  520735.67824845,  135575.50352336,
        538838.2544937 ,  406231.1411311 , -222019.19481988,
        422603.34036237,   46012.12955034,  290887.80241299,
        388727.49183933, 1427895.98470311, 1324258.44587614,
        384559.60973234,  514927.58972074,  743407.08546704,
        395163.84391145,  223273.05221337,  743719.27970877,
        337884.47394498,  511849.70853813,  -47878.129308  ,
       1590277.52567534,  142021.29438007, 1337371.98937434,
        536584.02459119, 1258048.05804692,  679312.92657319,
        515188.75702851,  595614.54936855,  540717.27331738,
        406664.42077699,  439152.460228  ,  352715.39510305,
        639230.45293149,  496926.14537917,  750188.98983561,
        615494.94677258,  455000.80657074,  522662.48780195,
        462557.15685464,  323777.83692753,  264359.04267308,
        414382.88235894, 1605646.4699904 ,  736994.07453753,
        405295.8240512 ,  343468.23136115,  323962.93715574,
        504382.25906876,  626663.5321565 ,  503425.98205008,
        489517.3170391 ,  117740.23604953,  110763.70154659,
         27898.39218698,  518011.90268473,   76346.36388712,
        731520.82570998,   40421.84790988,  659926.19468182,
        133928.16188361,  349273.36027256,  595773.16515481,
        385569.26974833,  601986.83902606,  411941.54902185,
        465543.53853475,  564993.70946684,  515019.37780668,
        488316.35476209,  136230.83264464,  429090.20084329,
        734579.80923091,  492296.24235673,  456622.47740123,
        -83565.21755406,  293282.84860724, 1276805.05064216,
        -44884.2909582 ,  492882.6869936 ,  334736.66195443,
       1479503.52407026,  566899.28273581,  663590.24489629,
        333678.33753838,  604548.62627649,  149500.50629206,
        824050.36422653,  432566.25654539,  748251.86621554,
        440918.83767772,  462166.58329658,   60969.89055742,
         48409.59863833,  605442.03120556,  323183.35283282,
        496252.54651606,  412091.88629028,  593429.48408565,
       1386233.38335103,  536470.251168  ,  170855.65312834,
       -411741.13196155,  212054.36615531,  535530.58425802,
        564205.12961876,  472101.72672784,   67810.24566247,
        409584.90663789,  328269.23036999,  345016.22979921,
       1306857.21701248, 1068746.52645279,  503133.11804964,
        435729.80050166,  513283.20769732,  695161.27291591,
        159543.72372343,  358395.6803963 ,  585934.85188201,
        763162.71079743,  376860.4444285 , 1250897.2602393 ,
         84705.57387532,  410751.10147692,  405605.02580936,
        657896.91186851,  356610.21988907,  560117.37836723,
        253916.30456565,  239029.75476187,  535270.19667938,
       -120864.70960908,  557530.09746651,  764001.90091534,
        586810.88043514,  136029.41190074,  152035.79491937,
       1478600.42100552,  395492.84290949,  508984.11746645,
        394994.39892842, 1487418.17626494,  627157.0197098 ,
        414948.54026939,  786554.6173225 ,  500519.51568478,
        242844.31940374,   32497.67473853,  148183.79702562,
        584398.43669777,  594892.09652703,  228842.65175901,
        272205.48041686,  300695.49047859,  438721.05978349,
        440490.42971677, 1355011.38576935,  538477.57229157,
        685745.15661506,  545573.80168936,  490457.25630005,
        479965.72875127, 1609323.03366514,  481088.07103077,
       1264814.18257424,  107335.82458663,  150048.8737883 ,
         46359.09995018,  593454.78383657,  473498.35053013,
        508123.22257243,   36591.8844531 ,  272842.67638271,
        425506.28148431,  362022.81516474,  392483.7829037 ,
        550847.53629965,  122005.06593034,  173273.02580616,
        495208.94487827,  517566.00897992,  555723.89133704,
        378206.11332472,  106156.71958761,  440490.42971677,
        158876.1500244 ,  526653.08669828,  671064.78704193,
        518631.61290671,  595625.64321099,  383619.67047137,
        542020.26006354,  -24427.89210488,   94258.9468918 ,
        501543.39933249,  116557.48791209,   43838.38232397,
        412994.98935503,  322038.36056247,  524395.02153902,
        468096.37866713,  496786.08010508, 1425397.77500974,
        479168.36382905,  140238.36363195,  356740.86614463,
        307127.72052048,  550586.51328361,  820088.27764085,
        618565.27283943,  258818.3304123 ,  351411.44648591,
        114622.80179216,  254771.05172932,  548394.80733837,
        573212.95046362, -323173.6800307 ,  597959.04908398,
        661511.0293161 ,  701845.72192337,   43746.73852973,
       1228559.23809105,  355070.78977646,  545883.00344752,
        450135.61692031,  459861.76279318,  115120.17522164,
        648884.16735636,  364015.03306428,  325457.67993647,
        474608.9099573 ,  120667.0964416 ,  346357.01461256,
        668289.72962844,  783728.72484678, 1146428.72435014,
        337489.90969667,   28774.7538909 ,  -81180.26619519,
        474449.0517122 ,  501672.94987452,  409813.97754057,
        461078.9449328 ,  426451.92587583,  479271.77006592,
         -8524.73816414,  100617.49777511,  460968.43634419,
        383656.5066676 ,  828012.45081221,  523091.07292187,
        831329.64202458,  635058.51455547,  477346.97491398,
        463252.80355696,  347591.57786447,  531479.6692027 ,
        488429.85583431,  412994.98935503, 1343459.57868303,
        420016.05946165, 1244494.75033867, 1297592.25902776,
        480392.18159074,  322976.06686321,  539806.88375586,
        317488.30032748,  439038.9591558 ,  650877.5469505 ,
        641198.19682261,  194380.77849586,  466901.22419831,
        546624.42669794,  488135.88249825,  703786.2196102 ,
        603969.23689483,  513621.71663706,  629113.56310773,
        527719.91215886, 1445255.50030041, 1382960.43518558,
        517447.62382483,  273380.52914687,  522612.56428678,
        808202.01788379,  167884.1412621 ,  598595.97542128,
        639692.06071635,  535249.52108191,  453231.43663746,
        201310.37520106,  661511.0293161 , 1261195.87003748,
        562984.12718169,  268998.79779312,  192483.09896496,
        236596.62466086,  467533.03225268,  134926.55188102,
        721803.40772393, -207054.90958853,  531018.06141785,
       1309638.37702991,  482419.58205646,  378876.63069786,
        548038.8839037 ,  350518.43825652,  212957.46922007,
        382168.1999104 ,  577653.36852542, 1408130.08737837,
        523883.49023901,  436767.50886913,  428843.33569776,
        356739.81153525,  323454.39833932,  412047.12592089,
        439038.9591558 ,   69910.66786577,  -47240.93334216,
        591671.95325808,  345398.86121207,  751254.59376238,
       1517982.1211243 ,  450836.39044321,  559925.14366075,
        635947.28259072,  709756.84186722,  530631.37373598,
       1400979.28957075,  697041.15143783,  398956.4855141 ,
        643819.64064766,  768266.41806032,  -82732.32090227,
        391438.45365927,  274029.48078918, -222019.19481988,
       1259056.34328122, 1506037.86016218,  301207.02177861,
        384272.08809319,  643819.64064766,  626404.25391349,
       1325990.80245425, 1163483.2424982 ,  426451.92587583,
        624473.34448427,  329551.41343798,  150060.21633422,
        246932.07065526,  175897.1429031 ,  875707.7011047 ,
        549524.92675543, 1505829.95426835,   92629.74704669,
         66719.14131923,  461969.13906178,  366559.01930574,
        519257.29593381,  556155.29178154,  419504.52816164,
        363245.71396953,  445469.9414871 ,  258616.00087047,
        438647.38739106, 1210464.93511194,  624174.5239059 ,
        475006.94018513,  741441.37095906,  390626.58270749,
        518835.55945784,  242844.31940374,  333720.05781746,
        439278.12489384,  246028.96759051,  405849.07563028,
        502104.35031906,  123629.38910763,  572717.41302586,
        662230.66459401,  242732.38594557, 1285680.12459409,
        672641.70795223,  514248.81776753,  519128.9863362 ,
        406552.6644778 ,  596375.26999299, 1394915.85655174,
        411782.68453212,  -58056.69832341,  462401.93550336,
        679349.76276939, 1335521.66753785, 1068170.3877245 ,
       1370385.03700829,  185354.60522287,  145601.99726345,
        421458.07907598,  589842.37157758,  283328.45964552,
        387379.42751522,  615731.12002707,  499432.05448   ,
       1593216.47963096,  130319.56992203,  220004.55677532,
        422243.96790002,  357897.06602241,  200805.30236411,
        404153.55524839,  462811.4786699 ,  458962.89315642,
         68212.33215928,  473944.14185305, -179073.43834321,
        225383.78082466,  669435.20248747,  419581.19303764,
        860331.05738218,  255006.58109504,    4852.89086375,
        589005.41865678,  538814.82515036,  274029.48078918,
        631985.19600505,  100617.49777511,  440092.39948897,
        538834.35744902,  379812.80523698,  664533.17664082,
        594870.23924904,  443815.32033661,  470772.48803747,
        131267.20859046,  699123.3595016 ,  521358.71634378,
        -83442.9465228 ,  348333.42101158, 1206956.75690365,
        382805.39587626,  198785.60130583, -191369.48400454,
        187276.36150864,   68857.2275326 ,  538164.80295645,
        396335.18374178, 1240445.49784811,  744347.02472799,
        349770.73370203,  212957.46922007,  238067.95822293,
         46359.09995018,  473755.25123094,  466820.88827278,
       1417491.57324019,  556305.62904999,  171637.89982349,
        552729.67323928,  449170.00685008,  167827.85476093,
        183873.13795504,  382431.1768185 ,  315563.42499186,
        240559.78179814,  627980.76892579,  492061.13288771,
        618277.75120029,  432473.36504062,  -65980.87149478,
         90308.37324487,  167870.80638456,  284886.97281566,
        424280.88934246, 1263262.92202404,   13324.43777595,
        438338.18563288,  597269.34847844,  459898.77614836,
        335808.72434427,  363617.00283648, 1340967.48974812,
        387854.01698309,  592844.28084591,  551378.93060075,
        241392.84884275,  635154.86527359,  100553.92021805,
        723441.43118733,  446645.23295486,  523757.82557318,
        -69703.79234241,  553946.82471868,  337051.40690036,
        336445.92031012,  301207.02177861,  855116.19340506,
         15247.78134997,  239954.2952079 ,  395695.17245132,
         99650.81715329,  493604.89789779,  -43552.84569371,
        544508.19776256,  516604.21244095,  516069.82565628,
        460426.52731103,  604399.55239201,  179822.22289973,
        458760.56361458,  732494.83891557,  217556.7517716 ,
       1235107.67313199,  727489.79881771,  439038.9591558 ,
        375876.59332792,   46359.09995018,  473252.72632904,
        435827.56960817, -223357.16430865,   17923.72032748,
        495208.94487827,   90642.8259156 ,  371096.21474849,
        385227.18343134,  664783.50776583,   40421.84790988,
        564079.46495292,  434376.0990472 ,  507997.24445146,
        695512.59040198,  886009.12622747,  469946.04984872,
        664533.17664082,  368748.09958583,  644722.74371241,
        447903.07158813,  520735.67824845, 1435182.96190862,
        334267.08889225,  196206.01981258,  604640.27007072,
        490965.79511648,  237761.40139653,  632135.71043245,
        584497.77989946,  736349.1791642 ,  470885.98910969,
        567338.7753142 ,  553133.14445683,  304531.91239846,
        649974.44388576,  756631.31471284])

In [295]:
input_data_model = pd.DataFrame([[1,2018,300,2,2,2]] , columns = ['name', 'year', 'km_driven', 'fuel', 'transmission', 'owner'])
regressor.predict(input_data_model)

array([1438604.58000405])

In [297]:
import pickle as pk
pk.dump(regressor,open('model.pkl' , 'wb'))